* {
  font-family: futura;
}

.navbar {
  background: #444444;
}

.footer {
  background-color: #4A4A4A;
}

.button {
  font-family: futura;
  color: white;
  background: #01C5CF;
  box-shadow: none;
  width: 325px;
  height: 50px;
}
.button:hover {
  color: #01C5CF;
  background: none;
  border: 2px solid #01C5CF;
  box-shadow: none;
}

body {
  background-color: #CCD3DA;
}

.card-specs {
  text-align: left;
}
