* {
  font-family: futura;
}

.navbar {
  background: #444444;
  box-shadow: none;
}



.button {
  color: #01C5CF;
  background: none;
  border: 2px solid #01C5CF;
  box-shadow: none;
  line-height: 16px;
  width: 325px;
  height: 50px;
}
.button:hover {
  color: white;
  background: #01C5CF;
  box-shadow: none;
}

div.slider {
  margin-top: -20px;
  margin-bottom: 20px;
}

.slide-one h3 {
  display: inline;
  background-color: #01C5CF;
  padding: 5px 10px 5px 10px;
}

.slide-one h5 {
  display: inline;
  background-color: #01C5CF;
  padding: 5px 10px 5px 10px;
}

.slide-two h3 {
  display: inline;
  background-color: #01C5CF;
  padding: 5px 10px 5px 10px;
}

.slide-two h5 {
  display: inline;
  background-color: #01C5CF;
  padding: 5px 10px 5px 10px;
}

.slide-three h3 {
  display: inline;
  background-color: #01C5CF;
  padding: 5px 10px 5px 10px;
}

.slide-three h5 {
  display: inline;
  background-color: #01C5CF;
  padding: 5px 10px 5px 10px;
}

.card-specs {
  text-align: left;
}

footer.page-footer {
  background-color: white;
}


div.container {
  color: #4a4a4a;
  font-size: 12px;
  margin: 0;
  padding-left: 10.5px;
}

li.indicator-item:active {
  background-color: red;
}

.collapsible-header {
  color: black;
}

.btn {
  color: #01C5CF;
  background: none;
  border: 2px solid #01C5CF;
  box-shadow: none;
  line-height: 16px;
}

.btn:hover {
  color: white;
  background: #01C5CF;
  box-shadow: none;
}


.btn.right {
  color: white;
  background: #01C5CF;
  margin: 0;
}
.btn.right:hover {
  color: (255, 255, 255, .7);
  background: rgba(1, 197, 207, .7);
}

.part-header {
  margin-top: 25%;
  margin: 25% 20px 5% 25px;
}

.part-link {
  color: #b7bdc4;
}

.part-link:hover {
  color: #7a7e82;
}

a.collapsible-header::after {
  color: white;
  background-color: #444444;
}
